@charset "EUC-KR";
body{
	font-size: 9pt;
	
}
h1{
	color: #a7cece;
}
#box1{
	background-image: url("../../images/background.gif");
	background-repeat: no-repeat;
	background-color: #a7cece;
	border: solid white 1px;
	padding: 30px;
	margin: 20px;
	padding-left: 90px;
	font-style: italic;
	border-radius: 20px;
	overflow: auto;
	height: 100px;
}
#outer{
	width: 80%;	
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}